<section class="inner">
	<h2 class="section-ttl">ジャンル管理</h2>
	<div class="mb3">
		<h3>ジャンル新規登録</h3>
  	<%= render 'form', genre: @genre, url: admin_genres_path, submit: '登録' %>
	</div>
	<div class="mb3">
		<h3>ジャンル一覧</h3>
		<table class="genre_info has_border">
			<thead>
				<tr>
					<th>ジャンル名</th>
					<th>状態</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @genres.each do |genre| %>
					<tr>
						<td><%= link_to genre.name, admin_items_path(genre_id: genre.id), class: "underline" %></td>
						<td>
							<% if genre.is_active? %>
								<span class="text-active">有効</span>
							<% else %>
								<span class="text-invalid">無効</span>
							<% end %>
						</td>
						<td class="text-center"><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</section>