<section class="inner confirm_error">
	<h2 class="section-ttl">エラー</h2>
	<h3 class="text-center">
		問題が発生しました。<br>
		お手数ですが、再度情報入力からやり直していただきますようお願いします。
	</h3>
	<div class="text-center">
		<%= link_to "注文情報入力に進む", new_order_path, class: "btn btn-success" %>
	</div>
</section>